<div class="container content">
  <div class="row">
    <% if @locations.size==0 %>
        <div class="alert alert-warning alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> <p class="notice">There are no Locations yet.</p> </div>
    <% else %>
      <% @locations.each do |location| %>
        <div class="col-md-3 col-sm-6 col-xs-12 small-padding" >
            <div class="location" >
                
              <%= link_to image_tag(location.image.url("thumbnail")), location %>
              <p class="text-right comments-likes">  
                <%= location.comments.count %> <span class="glyphicon glyphicon-comment " aria-hidden="true">
                </span>
                <%= location.get_likes.size %> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>

              </p>
            <p class="text-center">
              <strong>
                <%= link_to location.title, location %> 
              </strong>
            </p>     
          <h2>
            <% link_to location.title, location %>
          </h2>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="pagination text-center col-md-12 col-xs-12">
      <%= will_paginate @locations, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
