<div class="container content">
  <div class="row">
<div class="col-md-3 col-sm-6 col-xs-12 small-padding">
    <div class="location all " >
      <%= link_to cl_image_tag("pictures/all.jpg", :width=>290, :height=>175, :crop=>:fill), "all" %> 
      <p class="category_caption text-center"><strong>ALL LOCATIONS</strong></p>  
    </div>
  </div>

<div class="col-md-3 col-sm-6 col-xs-12 small-padding">
    <div class="location" >
      <%= link_to cl_image_tag("pictures/run.jpg", :width=>290, :height=>175, :crop=>:fill), "locations/category/run" %> 
      <p class="category_caption text-center"><strong>RUN</strong></p>  
    </div> 
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12 small-padding">
    <div class="location" >
      <%= link_to  cl_image_tag("pictures/bicycle.jpg", :width=>290, :height=>175, :crop=>:fill), "locations/category/bicycle" %> 
      <p class="category_caption text-center"><strong>BICYCLE</strong></p>    
    </div>
  </div>
  
  <div class="col-md-3 col-sm-6 col-xs-12 small-padding">
    <div class="location" >
      <%= link_to  cl_image_tag("pictures/climbing.jpg", :width=>290, :height=>175, :crop=>:fill), "locations/category/climbing" %> 
      <p class="category_caption text-center"><strong>CLIMBING</strong></p>
    </div>
  </div>
  
  <div class="col-md-3 col-sm-6 col-xs-12 small-padding">
    <div class="location">
      <%= link_to  cl_image_tag("pictures/football.jpg", :width=>290, :height=>175, :crop=>:fill) , "locations/category/football"%> 
      <p class="category_caption text-center"><strong>FOOTBALL</strong></p>          
    </div>
  </div>
  
  <div class="col-md-3 col-sm-6 col-xs-12 small-padding">
    <div class="location">
      <%= link_to  cl_image_tag("pictures/tennis.jpg", :width=>290, :height=>175, :crop=>:fill), "locations/category/tennis" %>
      <p class="category_caption text-center"><strong>TENNIS</strong></p>          
    </div>
  </div>
  
  <div class="col-md-3 col-sm-6 col-xs-12 small-padding">
    <div class="location">
      <%= link_to  cl_image_tag("pictures/skiing.jpg", :width=>290, :height=>175, :crop=>:fill), "locations/category/skiing" %>
      <p class="category_caption text-center"><strong>SKIING</strong></p>          
    </div>
  </div>
  
  
  <div class="col-md-3 col-sm-6 col-xs-12 small-padding">
    <div class="location" >
      <%= link_to  cl_image_tag("pictures/swim.jpg", :width=>290, :height=>175, :crop=>:fill), "locations/category/swim" %> 
      <p class="category_caption text-center"><strong>SWIM</strong></p>          
    </div>
  </div>

    </div>
</div>